.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}

.p-5{
  padding: 5px!important;
}

.navbar .navbar-brand {
  padding: 0;
}
.section-header{
  height: 70vh;
}

/* Portrait */
@media screen and (orientation:portrait) {
  .brand-top-margin {
    margin-top: -250px;
  }
}
.img-padding {
  padding: 40px;
}
.title {
  color: #1b176b;
}
.navbar .navbar-nav .nav-item .nav-link, .navbar .navbar-nav .nav-item.active .nav-link, .navbar .navbar-nav .nav-item:hover  {
  color: #1b176b;
}
.navbar .navbar-nav .nav-item {
  border-radius: 5%;

}
.navbar .navbar-nav .nav-item.active{
  background-color: #e9e8f0;
}
.img-hover-zoom {
  transition: transform 0.2s;
}
.img-hover-zoom:hover {
  transform: scale(1.2);
} 

.section-img {
  padding: 20px 0;
  min-height: 330px;
  background-size: cover;
  background-position-x: center;
  position: relative;
  /* border-radius: 5%; */
}

.section-img .section-text {
  color: #fff;
  position: relative;
  z-index: 1;
}

.section-img .img-copy {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #fff;
  font-size: 10px;
}

.section-img .section-text .title {
  color: #fff;
}

.section-img .section-text .description {
  margin-top: 100px;
  color: #fff;
}

.section-img:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.40);
  /* border-radius: 5%; */
}

@media (max-width: 445px) {
  .brand-top-margin {
    margin-top: -75%;
  }
}
@media (max-width: 991px) {
  .brand-top-margin{
    margin-top: -60%;
  }
}
@media (min-width: 768px) {
  .section-img {
    min-height: 450px;
  }
}

@media (min-width: 992px) {
  .section-img {
    min-height: 450px;
    /* background-position-y: -100px; */
  }
  .brand-top-margin{
    margin-top: -35%;
  }
}

.op-carousel img {
  max-height: 250px;
  object-fit: contain;
  padding-bottom: 50px;
}
.op-carousel .carousel-indicators li {
  background: #1b176b;
  border-color: #1b176b;
}
.op-carousel .carousel-control i {
  color: #1b176b;
}

.timeline-badge.lnrc-hover{
  transition: background-image 0.25s;
}
.timeline-badge.lnrc-hover:hover{
  background-image: url("../img/logos/logo_lnrc.png")!important;

}

.robot-list .card .card-header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.robot-list .card .card-header img{
  border-radius: 3px;
  -webkit-transition: all 0.25s; /* Safari */
  transition: all 0.25s;
  /* min-height: 280px;
  object-fit: contain;
  object-position: center; */
}
.robot-list .card:nth-child(odd) .card-header img:hover{
  transform:scale(1.1) rotate(5deg);
}
.robot-list .card:nth-child(even) .card-header img:hover{
  transform:scale(1.1) rotate(-5deg);
}
.card .card-header-blue{
  background: linear-gradient(60deg, #534b8c, #292c6c)
}

.page-header{
  height: 90vh;
}